/* positions h1 in center of carousel */

#carouseldiv {
  z-index: -1;
  position: relative;
}

#carousel-h1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }

/*removes scrollbar caused by 0padding containers*/

.carouselcontainer, .aboutcontainer {
  overflow: hidden;
}

/*adds margins to about page text-boxes and images */


.about-image {
  max-width: 320px;
}

.about-row-t {
  background-color: rgba(105, 105, 105, 0.2);
  min-height: 300px;
  margin: 50px;
  padding: 20px auto;
}

/* adds background to about tech */

#mainabout {
  background: -webkit-radial-gradient(rgb(237, 237, 237), rgb(202, 210, 217));
  background: radial-gradient(rgb(237, 237, 237), rgb(202, 210, 217));
}

/*makes youtube responsive*/

.youtube-container {
  position: relative;
  padding-bottom: 55%;
  padding-top: 30px; height: 0; overflow: hidden;
}


#youtubeembed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}