body {
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans";
  color: $basecolor;
  overflow-x: hidden;
}

.spacebetween1 {
  height: 400px;
}

.spacebetween2 {
  height: 210px;
}

.midsection1 {
  background-image: url("../assets/theback1.jpg");
  background-position-x: center;
  background-position-y: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.midsection2 {
  background-image: url("../assets/theback3.jpg");
  background-position-x: center;
  background-position-y: 1089px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#funding { padding-bottom: 40px;
  background-color: $white;
  margin-bottom: 100px;
}

#crowdfunding {
  width: 100%;
  background-color: $white;
  margin-bottom: -40px;
}

.kolomhoofd {
  margin: 0 auto;
  margin-top: 8px;
  padding: 20px 10px;
  background-color: $white;
}

.bigtitle {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  background-color: $white;
  padding: 22px 0;
}



.kolom {
  margin: 0 auto;
  background-color: $white;
  .hptop, .h3top {
    text-align: right;
  }
  .hpbottom, .h3bottom {
    text-align: left;
  }
  .bigtitle, .hptop, .hpbottom {
    font-family: "Lexend Deca";
    .h3top, .h3bottom {
      color: $otherh;
      margin-top: -20px;
    }
  }
}

.main-text {
  padding: 5px 10px;
}

.tweederij {
  height: 600px;
}

.left-foto {
  margin-left: 100px;
}

.right-foto {
  margin-left: 5px;
}

#theform {
  background-color: $white;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}


.registo {
  background: linear-gradient(90deg,
          rgba(2, 31, 56, 0.7) 0%,
          rgba(49, 47, 48, 0.7) 30%,
          rgba(4, 52, 78, 0.8) 60%,
          rgba(0, 74, 48, 0.8) 100%);
  margin-top: 3%;
  padding: 3%;
  min-width: 1200px;

  #myTabContent, #profile {
    min-height: 640px;
  }

  .register-left {
    text-align: center;
    color: $basecolor;
    margin-top: 2%;

    .myphone {
      width: 160px;
      padding: 6px 16px 8px 16px;
      background: $button;
      color: $otherh;
      text-shadow: 1px 1px 2px whitesmoke;
      cursor: pointer;
      border: 2px solid #312F30;
      border-radius: 2px;
    }
    .myphone:hover {
      background-color: $buttonhover;
    }

    .botti {
      margin-top: 4%;
      margin-bottom: 30%;
      width: 60%;
      border-radius: 2px;

    }

    .h3form {
      color: $otherh;
      font-size: 28px;
      font-weight: 900;
      text-transform: capitalize;
      margin-bottom: 10px;
    }

    .p1form {
      font-weight: lighter;
      color: $basecolor;
      padding: 12%;
      margin-top: 4px;
    }
  }

  .register-right {
    background: $white;
  }

  #signin {
    margin-top: 50px;

    #h3top, #h5top {
      margin-left: 100px;
      margin-bottom: 12px;
    }
  }

  .regi-partone, .regi-parttwo {
    max-width: 646px;
    margin-left: 80px;
    margin-top: 6px;
  }

  .regi-partthree {
    max-height: 80px;
    max-width: 646px;
    margin-left: 80px;
  }

  .nav-link {
    border-radius: 0px;
  }

  .nav-link:active {
    background-color: $buttonactive;
  }

  #myTab {
    margin-top: 3%;
    background: $button;
    width: 32%;
    float: right;
    border: none;

    #home-tab, #profile-tab {
      padding: 6px 10px 10px 10px;
      height: 40px;
      font-weight: 900;
      color: $h1color;
      text-shadow: 1px 1px 1px black;
      border: none;
    }

    #home-tab:hover {
      background: $buttonhover;

    }

    #profile-tab:hover {
      background: $buttonhover;


    }

    .nav-link.active {
      width: 132px;
      color: $h1color;
      text-shadow: 1px 1px 1px black;
      border: none;
    }
  }

  .form-control {
    min-width: 282px;
  }

  .maxl {
    margin-left: 60px;
  }
  #btnRegister1, .reset {
    float: right;
    margin-top: 4%;
    margin-left: -60px;
    padding: 6px 16px 8px 16px;
    background: $button;
    color: $otherh;
    text-shadow: 1px 1px 2px whitesmoke;
    font-weight: 600;
    width: 160px;
    cursor: pointer;
  }

  #btnRegister1:hover {
    background: $buttonhover;
  }
  .reset:hover {
    background: $buttonhover;
  }

}


.form2 {
  padding: 50px 100px 0 100px;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  min-height: 640px;
  .dark {
    background-color: $white;
    .block-heading p {
      opacity: 0.8;
    }
  }
  .content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
    background-color: $white;
  }
  .block-heading {
    padding-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    .p1form {
      text-align: center;
      max-width: 420px;
      margin: auto;
      opacity: 0.7;
    }
  }
  .form2 {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: $white;
    max-width: 600px;
    margin: auto;
  }

  label {
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #79818a;
    text-transform: uppercase;
  }
  .mailto {
    margin-left: 220px;
  }
  .phonenr {
    margin-left: 330px;
  }
  #btnRegister2 {
    font-weight: 600;
    margin-top: 75px;
    margin-left: 475px;
    padding: 6px 26px 8px 26px;
    background: $button;
    color: $otherh;
    text-shadow: 1px 1px 2px whitesmoke;
    width: 150px;
    cursor: pointer;
  }
}


@media (min-width: 576px) {
  .payment-form .title {
    font-size: 1.2em;
  }

  .payment-form .products {
    padding: 40px;
  }

  .payment-form .products .item-name {
    font-size: 1em;
  }

  .payment-form .products .price {
    font-size: 1em;
  }

  .payment-form .card-details {
    padding: 40px 40px 30px;
  }

  .payment-form .card-details button {
    margin-top: 2em;
  }
}

